<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					My application - Sign in
				</h3>
			</div>
			<div class="panel-body">
				<%= bootstrap_form_tag(url: session_signin_path, method: :post, data: {toggle:"validator"} ) do |f| %>
					<fieldset>
						<div class="form-group">
							<%= f.email_field '', autofocus: true, class:"form-control", id:"email", name:"email", placeholder:"Email", required: "true" %>
						</div>
						<div class="form-group">
							<%= f.password_field '', autocomplete: "off", class:"form-control", id:"password", name:"password", placeholder:"Password", required: "true" %>
						</div>
						<div class="form-group">
							<%= button_tag(nil, class: "btn btn-md btn-link", type:"button", :onClick => "location.href = '" + session_forgot_password_path + "';") do %>
								<%= link_to("I forgot my password", "#") %>
							<% end %>&nbsp;|&nbsp;
							<%= button_tag(nil, class: "btn btn-md btn-link", type:"button", :onClick => "location.href = '" + new_user_path + "';") do %>
								<%= link_to("Sign Up", "#") %>
							<% end %>
							<%= f.submit 'login', class:"btn btn-success" %>
						</div>
					</fieldset>
				<% end %>

			</div>
		</div>
	</div>
</div>
