<!DOCTYPE html>
<html>
  <head>
    <title>MyApplication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if notice %>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <%= notice %>
        </div>
    <% end %>

    <% flash.each do |type, message| %>
      <% if type == 'success' %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= message %>
        </div>
      <% else %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
